ul li {list-style-type: square;}
.repository-list, .repository-list li {list-style-type: none;}
.repository-list {margin:0; padding:0;}
.repository-list li .info {padding-left:60px;}
.repository-list li.odd {background-color:#f2f2f2;}
.repository-list li img {float:right; width:80px; margin-left:10px;}
.repository-list li .name {margin-top:0;}
.repository-list li .star-count {margin-top:10px;}
.repository-list li {clear:both; margin-bottom:30px; padding:20px 20px 25px 15px; min-height:120px; border-radius:3px;}
.repository-list .rank {float:left; font-size:24px; color:#666; font-family:Luckiest Guy;}

.language-list li {font-size:16px; list-style-type: none;}
.language-list li.active a .logo {box-shadow:1px 1px #333;}
.language-list li.about {margin-top:30px; border-top:1px solid #ccc; padding-top:10px;}
.language-list li a .logo {letter-spacing:2px; font-size:24px; color:white; background-color:#999; padding:7px 0 2px 2px; width:46px; margin-right:5px; font-family:Luckiest Guy; border-radius:4px; display:inline-block; text-align:center;}

.lead {letter-spacing:-1px; color:#666; border-top:1px dotted #ccc; font-family:Courier New, Courier;}
.header h1 {font-size:42px; margin: 20px 0}
.header {margin: 20px 0}
article h1 {border-bottom: 1px solid #ddd; font-size:38px;}
article ul {margin-bottom:20px; padding-left:25px;}
article {padding-bottom:300px;}
h1, h2 {font-family: Luckiest Guy, Ubuntu, Verdana;}
p, .p-ish {line-height:24px; font-size:16px;}
.p-ish ul li {margin: 15px 0;}
* {font-family:Ubuntu, Verdana;}
h2 {margin-top:60px; font-size:22px; letter-spacing:1px;}
.card {margin-bottom: 5px;}
.card h2 {margin:0; padding:0;}
.footer {margin-bottom:20px; color:#888; font-size:12px;}
.card-heading h2 {cursor:pointer;}
.card-heading h2:hover {text-decoration:underline;}
.card-heading i {font-size:60%; margin-bottom:0px; vertical-align:middle; margin-right:3px;}
.card-heading {padding: 10px 10px 2px;}
.call-to-contribute {text-align:center; color:#888; font-size:12px; margin:30px 0 0 0;}

@media (min-width: 992px) {
  .content {margin-top: 40px;}
}
