!!!
%html
  %head
    %script{'data-main' => 'main', 'src' => 'require.js'}
    %link{'href' => 'bootstrap.css', 'rel' => 'stylesheet'}
    %link{'href' => 'bootstrap-theme.css', 'rel' => 'stylesheet'}
    %link{'href' => 'styles.css', 'rel' => 'stylesheet'}
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1, maximum-scale=1", "user-scalable" => "no"}
    <link href='http://fonts.googleapis.com/css?family=Luckiest+Guy' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

  %body
    .container
      .row.header
        .col-md-2
        .col-md-8
          %h1 What's Next?
          .lead Resources.for_learning %w(languages and Github projects)
        .col-md-2

      .row.content
        .col-md-2
        .col-md-8
          .row
            .col-md-3
              %ul.nav.nav-pills.nav-stacked.language-list
                <!-- ko foreach: languages -->
                %li{'data-bind' => 'css: $root.activeNavItem() == $data ? "active" : ""'}
                  %a{'data-bind' => 'attr {href: hash}'}
                    .logo{'data-bind' => 'text: shortName, style: {backgroundColor: color}'}
                    %span{'data-bind' => 'text: name'}
                <!-- /ko -->
                %li.about{'data-bind' => 'css: $root.activeNavItem() == $root.about ? "active" : ""'}
                  %a{'href' => "#/about"}
                    .logo{'data-bind' => 'text: "WN"'}
                    %span About

            .col-md-9
              .div{'data-bind' => 'visible: activeLanguage && activeLanguage.beginnerResources'}
                %h2 Resources For Beginners
              .div{'data-bind' => 'visible: activeLanguage && activeLanguage.expertResources'}
                %h2 Resources For Experts
              .div{'data-bind' => 'visible: $root.activeNavItem() == $root.about'}
                %h2 Get Learning
                %p 
                  This is a collection of resources for
                  %b beginners 
                  so they know where to look first.
                  It's also for
                  %b experts
                  so they can find resources to dig deeper.
                  And for
                  %b freelancers
                  to figure out what they should learn next.

                %p What's next? Pick a language and get learning!

                %h2 Contributing
                %p
                  Check out
                  %a{'href' => 'https://github.com/matstc/whatsnext.info'}
                    whatsnext.info
                  on github and submit a PR.
                


              .div{'data-bind' => 'visible: activeLanguage'}
                %h2 Most Popular Github Projects
                %ul.repository-list{'data-bind' => 'foreach: repositories'}
                  %li{'data-bind' => 'css: $index() % 2 === 0 ? "even" : "odd"'}
                    %img{'data-bind' => 'attr {src:owner.avatar_url}'}
                    %div{'data-bind' => 'text: "#" + ($index() + 1)', 'class' => 'rank'}
                    .info
                      %h3.name
                        %a{'data-bind' => 'text: name, attr {href: html_url}'}
                      %span{'data-bind' => 'text: description'}
                      .star-count
                        %span.label.label-success
                          %span{'class' => 'glyphicon glyphicon-star'}
                          %span{'data-bind' => 'text: stargazers_count'}
        .col-md-2
