!!!
%html
  %head
    %script{'data-main' => 'main', 'src' => 'require.js'}

  %body
    %h1 What To Learn Next?
    .subtitle Learning resources for popular github projects

    %ul.language-list{'data-bind' => 'foreach: languages'}
      %li
        %a{'data-bind' => 'text: name, attr {href: url}'}

    %ul.repository-list{'data-bind' => 'foreach: repositories'}
      %li
        %div{'data-bind' => 'text: $index() + 1'}
        %div
          %a{'data-bind' => 'text: name, attr {href: html_url}'}
        %div{'data-bind' => 'text: description'}
        %div{'data-bind' => 'text: stargazers_count'}
        %img{'data-bind' => 'attr {src:owner.avatar_url}'}
