.repository-list {list-style-type: none; margin:0; padding:0;}
.repository-list li .info {padding-left:60px;}
.repository-list li.odd {background-color:#f2f2f2;}
.repository-list li img {float:right; width:80px; margin-left:10px;}
.repository-list li .name {margin-top:0;}
.repository-list li .star-count {margin-top:10px;}
.repository-list li {clear:both; margin-bottom:30px; padding:20px 20px 25px 15px; min-height:120px; border-radius:3px;}
.repository-list .rank {float:left; font-size:24px; color:#666; font-family:Luckiest Guy;}

.language-list {margin-top: 30px;}
.language-list li {font-size:16px;}
.language-list li.active a .logo {box-shadow:1px 1px #333;}
.language-list li.about {margin-top:30px; border-top:1px solid #ccc; padding-top:10px;}
.language-list li a .logo {letter-spacing:1px; font-size:24px; color:white; background-color:#999; padding:5px 0 2px 0; width:46px; margin-right:5px; font-family:Luckiest Guy; border-radius:4px; display:inline-block; text-align:center;}

.lead {letter-spacing:-1px; color:#666; border-top:1px dotted #ccc; font-family:Courier New, Courier;}
.header h1 {font-size:42px;}
h1.section {border-bottom: 1px solid #ddd; font-size:38px;}
h1, h2 {font-family: Luckiest Guy, Ubuntu, Verdana;}
* {font-family:Ubuntu, Verdana;}
h2 {margin-top:60px; font-size:28px; letter-spacing:1px;}
p {font-size:16px;}
.no-right-gutter {padding-right:0;}

@media (min-width: 768px) {
  .lead {font-size:20px;}
  .content {margin-top:32px;}
  .header h1 {margin-top:80px;}
}
