.repository-list {list-style-type: none; margin:0; padding:0;}
.repository-list li .info {padding-left:60px;}
.repository-list li.odd {background-color:#f2f2f2;}
.repository-list li img {float:right; width:80px; margin-left:10px;}
.repository-list li .name {margin-top:0;}
.repository-list li .star-count {margin-top:10px;}
.repository-list li {clear:both; margin-bottom:30px; padding:20px 20px 25px 15px; min-height:120px; border-radius:3px;}
.repository-list .rank {float:left; font-size:24px; color:#666; font-family:Luckiest Guy;}

.language-list li {font-size:16px;}
.language-list li a .logo {font-size:24px; color:white; background-color:#ccc; padding:5px 0 2px 0; width:42px; margin-right:5px; font-family:Luckiest Guy; border-radius:4px; display:inline-block; text-align:center;}

.content {margin-top:48px;}
h1 {font-size:34px; margin-top:80px;}
h1, h2 {font-family: Luckiest Guy, Ubuntu, Verdana;}
* {font-family:Ubuntu, Verdana;}
h2 {margin-top:38px;}
h2.low-margin {margin-top:10px;}
